
.header{
 text-align: center;
}
.main-container{
  display: flex;
  justify-content: space-evenly;
}
.form{
  background-color: lightslategray;
  margin-top: 50px;
  padding: 30px 20px;
  height: 350px;
  width: 320px;
  /* border: 1px solid black; */
  border-radius: 25px;
  display: block;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.inputfields{
  align-items: center;
  width: 290px;
  height: 36px;
  border-radius: 15px;
  font-size: 16px;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
}
.btn{
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid black;
  color: white;
  background-color: rgb(31, 151, 206);
}
.side-form{
  margin-top: 30px;
  height: 70vh;
  overflow-y: scroll;
  -ms-overflow-style:none;
  scrollbar-width: 1px;
}
.side-form::-webkit-scrollbar{
  display: none;
}
.container{
  margin-top: 10px;
  background-color: white;
  padding: 3px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  

}
.link-contain{
  width: 350px;
  color: aliceblue;
  border: 1px solid black;
  border-radius: 15px;
  background-color: lightskyblue;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 20px;
}